body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    height: 100vh;

}

main{
    display: grid

}
div {
    border: 2px solid black ;
    background-color: antiquewhite;

}

 .item-2, .item-4 {
    margin-left: auto;
    width: 60%;
}

.item-1, .item-3, .item-5 {
    margin-right: auto;
    width:60%;

}
/* create your child rules here:  */
