/* Make sure that your @import statement is at the top of your CSS file  */


html {
    scroll-behavior: smooth;
}

main {
 

}
body * {
    box-sizing: border-box;
    

}

body {
    /* font-family: 'Trattatello', fantasy; */
    font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
    margin: 10;

}

p{ 
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 0;
}