@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

body * {
    box-sizing: border-box;
    background-color: rgb(145, 174, 237);
}

body {
    margin: 0px;
}

p, h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    margin-left: 15vw;
    margin-right: 15vw;
}

section.content {
    padding-top: 50px;
    padding-bottom: 50px;
}


/* Helpers */
.margin-top-10 {
    padding-top: 10px;
}

.margin-bot-10 {
    padding-bottom: 10px;
}

/* Typography */
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 70px;
    text-align: center;
    color: rgb(5, 44, 112);
    z-index: 10;
    opacity: 0.8;
}

h3 {
    font-size: 30px;
    line-height: 0;
    letter-spacing: 8px;
    text-align: center;
    
}

p {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.4em;
    text-align: center;
}

.first-character {
    font-weight: 400;
    float: left;
    font-size: 84px;
    line-height: 64px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: "Source Sans Pro", sans-serif;
}

.sc {
    color: #3b8595;
}

.ny {
    color: #3d3c3a;
}

.atw {
    color: #c48660;
}

/* Section - Title */

.title {
    background-color: rgb(145, 174, 237);
    padding: 60px;
    margin: 0 auto;
    text-align: center;
}

.title h1 {
    font-size: 35px;
    letter-spacing: 8px;
    /* background: rgb(173, 196, 240); */
}

.parallax-one,
.parallax-two,
.parallax-three {
    padding: 300px 100px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

}

.parallax-one {
    background-image: url(https://images.unsplash.com/photo-1505533321630-975218a5f66f?w=1400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGNhbG1pbmd8ZW58MHx8MHx8fDA%3D);
}

.parallax-two {
    background-image: url(https://images.unsplash.com/photo-1529697216570-f48ef8f6b2dd?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.parallax-three {
    background-image: url(https://images.unsplash.com/photo-1595451421409-d419728a356b?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDN8fGNhbG1pbmd8ZW58MHx8MHx8fDA%3D);
}
.podcast{
    text-align: center;
}
#brain {
    display: block;
    width: 500px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

#eight {
    display: block;
    width: 500px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
#global {
    display: block;
    width: 500px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Button Practice */
/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(132, 166, 238);
    color: rgb(7, 0, 0);
    padding: 15px 20px;
    height: 40px;
}

.navbar h1 {
    margin: 0;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.menu-toggle {
    display: none;
    /* Hide hamburger on larger screens */
}

.nav-links {
    position: static;
    display: flex;
    width: auto;
    background: none;
    column-gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(15, 1, 1);
    display: block;
}

/* Show menu when active */
.nav-links.active {
    right: 0;
}

/* Hamburger menu button */
.menu-toggle {
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: rgb(132, 166, 238);
    margin: 6px 0 0 0;
    transition: 0.3s;
}

/* Animate hamburger menu into "X" when active */
/* Adjusted hamburger to X transition */
.menu-toggle.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}


@media (max-width: 768px) {

    .nav-links {
        position: absolute;
        top: 54px;
        right: -300px;
        width: 300px;
        background-color: rgb(132, 166, 238);
        text-align: center;
        transition: right 0.3s ease-in-out;
        flex-direction: column;
    }

    .nav-links {
        height: calc(100vh - 40px);
    }

    .nav-links li {
        border-bottom: 1px solid rgb(132, 166, 238);
        padding: 15px;
    }

    .menu-toggle {
        background-color: rgb(132, 166, 238);
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background-color: transparent;
        border: 0;
    }
}