html {
    scroll-behavior: smooth;
  }
  
  body * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: 1px solid black;
    display: flex;
    width: 100%;
    
  }
  

  
 nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    height: 35px;
    

 }
  ul {
    display: flex;
    /* justify-content: flex-end; */
    list-style-type: none;
    gap: 20px;
    border: 1px solid black;
    padding: 10px;
    margin: 0;
    
  }
  
  h1 { 
    border: 1px solid black;
    padding: 10px; 
  }

   li { 
    border: 2px solid #333;
    padding: 10px;
    outline: 1px solid black;
    outline-offset: 5px;
   } 
  
 
  