body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: 2px solid whitesmoke;
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}