#section-2 {
  background-image: url(../images/section-2-bkg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 400px;
}

#section-2 .heading-1 {
  text-align: center;
  padding-top: 50px;
}

#section-2 .grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

#geese {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 300px;
  height: auto;
}
@media screen and (max-width: 1024px) {
  #section-2 .grid {
      grid-template-columns: 1fr;
      gap : 1.5rem; 
      padding-bottom: 200px;
      margin-top: 50px;

  }
  #h3.grid {
    font-size: 2.5rem;
    padding-top: 30px;
  } 
}